<div class="row mt-5">
    <div class="col-3" *ngFor="let item of heros">
      <div [ngClass]="{ 'card p-1': true , 'bg-red': item?.power > 100 , 'bg-green': item.power < 100 }">
        <div class="card-image">
          <img class="w-100" [src]=" item.url ">
        </div>
        <div class="card-body">
          <h1>{{item.name}}</h1>
          <p>{{item.power}}</p>
        <button (click)="delete(item._id)" class="btn btn-danger">delete</button>
        </div>
      </div>
    </div>
  </div>